<form class="container" [formGroup]="form" (submit)="onSubmit()" (change)="optionChanged()">
    <h1 class="title">Choose your home</h1>

    <ng-container *ngFor="let item of data; let i= index">


        <app-dropdown-button [form]="form.controls[item.type]" [data]="item">
        </app-dropdown-button>
    </ng-container>
    <div class="btn">

        <button class="button find-button">Find</button>
    </div>

</form>

<div class="cards">
    <ng-container *ngFor="let listItem of filteredProjects">
        <app-projects [project]="listItem" *ngIf="showProjects"></app-projects>
    </ng-container>
</div>