.slider {
  display: grid;
  position: relative;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  overflow: hidden;
  position: relative;
  /* opacity: 0; */
  /* width: 100vw; */
  /* width: 100%;    */
}
img {
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
}

.bla {
  width: 100%;
  background-color: red;
  height: 500px;
  position: relative;
  top: -500px;
}
