<main class="main">

    <div class="last-news" [routerLink]="lastNews?.title">
        <img [src]="lastNews?.imgUrl" alt="" class="back-img">
        <div class="title">
            {{lastNews?.title |titleMaker |titlecase}}
        </div>

        <p>
            {{lastNews?.discription| readMore}}
        </p>
    </div>


    <div class="container">
        <ng-container *ngFor="let news of newses; let i = index">
            <div class="card" *ngIf="i !== newses.length-1" [routerLink]="[ news.title]">
                <div class="card-image">
                    <img [src]="news.imgUrl" alt="">
                </div>

                <h1 class="title">
                    {{news.title | titleMaker|titlecase}}
                </h1>
                <p class="content">
                    {{news.discription| readMore}}
                </p>
            </div>
        </ng-container>
    </div>


</main>