/* You can add global styles to this file, and also import other style files */
/* @import "bulma/css/bulma.css"; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "~leaflet/dist/leaflet.css";
@import "@splidejs/splide/css";

@import "@splidejs/splide/css/skyblue";
/* @import "@splidejs/splide/css/sea-green"; */

@import "@splidejs/splide/css/core";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.modal-open {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
