/* div {
  background-image: url("src\assets\images\building.webp");
  width: 100%;
  height: 600px;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.carousel {
  width: 100vw;
  height: 600px;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide-active {
  opacity: 1;
}
.carousel > ul {
  padding: 0;

  list-style: none;
  margin: 0;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(191, 191, 191, 0.8);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-button:focus {
  outline: 1px solid black;
}
.carousel-button.next {
  right: 1rem;
}
.dot-list {
  position: absolute;
  bottom: 5rem;
  display: flex;
  left: 80%;
  transform: translateX(-50%);
  gap: 1rem;
  z-index: 20;
}

.dot {
  font-size: 6rem;
  height: 3rem;
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dot-active {
  color: rgba(137, 249, 106, 0.8);
}

.button {
  position: absolute;
  top: 50%;
  right: 7rem;
}

.title {
  position: absolute;
  z-index: 100;
  top: 40%;
  right: 7rem;
}

@media screen and (max-width: 1023px) {
  .carousel {
    height: 500px;
  }
  .dot-list {
    z-index: initial;
  }
  .is-medium {
    width: 100px;
    height: 39px;
    font-size: 17px;
    right: 2rem;
  }
}
