<section *ngIf="isLoaded; else bla" saria-label="Newest Photos">
    <div class="carousel">
        <ul>
            <ng-container *ngFor="let item of news; let i = index">
                <li class="slide" [ngClass]="{'slide-active': i === currentIndex }">
                    <!-- <div class="next" (click)="next()"></div>
                    <div class="prev" (click)="prev()"></div> -->
                    <img [src]="item.imgUrl" alt="">
                    <div class="news-container">

                        <h1 class="title"> {{ item.title | titleMaker }} </h1>
                        <p class="discription"> {{item.discription}} </p>
                    </div>
                    <button class="btn-news button is-medium" (click)="toNewsPage(currentIndex)">See more</button>
                </li>

            </ng-container>
        </ul>
        <ul class="dot-list">
            <ng-container *ngFor="let img of imgUrl; let i = index">
                <li class="dot" [ngClass]="{'dot-active': i=== currentIndex}" (click)="dotClicked(i)">&#x2022;</li>
            </ng-container>
        </ul>
    </div>
    <app-house-selection></app-house-selection>
</section>

<ng-template #bla>
    <h1>heelo</h1>
    <app-placeholder></app-placeholder>
</ng-template>